
$frutas: red;
$listos: rgb(255, 153, 0);
$carnes: rgb(221, 128, 144);

.bodyproduct {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    img {
        max-width: 100%;
    }   
}
article.card {
    max-width: 350px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px #d7d7d7;
}
.header-card img {
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}
.categoria-card {
    margin-top: 1rem;
    span {
        color:white;
        padding: .2rem .5rem;
        border-radius: 4px;
    }
    .fruta {
        background-color: $frutas;
    }
    .listos {
        background-color: $listos;
    }
    .carnes {
        background-color: $carnes;
    }
}

.filtros {
    align-items: center;
    .boton {
        background-color:#575757;
        color:white;
        padding: .2rem .5rem;
        border-radius: 4px;
        margin-left: 10px;
    }
}
.filterList {
    ul {
        display: flex;
    }

        li {
            padding-right: 10px;
            display: block;
        }
            a {
                color: #cfd2d6;
                text-decoration: none;
            }
}



.card footer {
    padding: 0 1rem;
}

.perfil-card {
    display: flex;
    align-items: center;
}

.img-perfil-card {
    display: flex;
    
    img {
        width: 35px;
        margin: 1rem 1rem 1rem 0;
        border-radius: 50%;
    }
}

.text-perfil-card {
    display: flex;
    flex-flow: column;

    span:nth-child(1) {
        color: #575757;
    }
}

.card-wrap {
    display: flex;
    flex-flow: wrap;
}